/* Bootstrap Tour */

.tour-tour {
  padding: 0;
  border: 0;
  font-family: $type1-regular;
  .popover-title {
    background: theme-color(primary);
    color: $white;
    font-size: .8125rem;
    font-family: $type1-bold;
    padding: .75rem;
  }
}
.tour-step-background {
  display: none;
}