/* Data Tables */

.dataTables_wrapper {
  padding-left: 0;
  padding-right: 0;
  label {
    font-size: .8125rem;
  }
  select {
    @extend .form-control;
    padding: .4rem;
  }
  .dataTables_length {
    select {
      margin-left: .25rem;
      margin-right: .25rem;
    }
  }
  .dataTable {
    border-collapse: collapse !important;
    .btn {
      padding: .3rem .5rem;
      vertical-align: top;
    }
    thead {
      .sorting,
      .sorting_asc,
      .sorting_desc,
      .sorting_asc_disabled,
      .sorting_desc_disabled {
        &:before,
        &:after {
          line-height: 2.5;
          font-family: Material Design Icons;
          font-size: .65rem;
        }
        &:before {
          content: "\F05D";
          right: 1.2em;
        }
        &:after {
          content: "\F045";
          right: 0.2em;
        }
      }
    }
    tbody {
      tr {
        td {
          .badge {
            text-transform: capitalize;
          }
        }
      }
    }
  }
  .dataTables_paginate {
    margin-top: 20px;
  }
  .dataTables_info {
    font-size: $default-font-size;
  }
}
