.webcam .greyscale{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.webcam .sepia{
    -webkit-filter: sepia(1);
    filter: sepia(1);
}

.webcam .saturate{
    -webkit-filter: saturate(8);
    filter: saturate(8);
}

.webcam .hue{
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
}

.webcam .invert{
    -webkit-filter: invert(1);
    filter: invert(1);
}

.webcam .bright{
    -webkit-filter: brightness(3);
    filter: brightness(3);
}

.webcam .contrast{
    -webkit-filter: contrast(4);
    filter: contrast(4);
}

.webcam .blur{
    -webkit-filter: blur(1px);
    filter: blur(1px);
}