/* Layouts */

.navbar {
  &.fixed-top {
    + .page-body-wrapper {
      padding-top: $navbar-height;
    }
  }
}


// Sidebar Mini
.sidebar-mini {
  @media (min-width: 992px) {
    .navbar {
      .navbar-brand-wrapper {
        width: $sidebar-width-mini;
      }
      .navbar-menu-wrapper {
        width: calc(100% - #{$sidebar-width-mini});
      }
    }
    .sidebar {
      width: $sidebar-width-mini;
      .nav {
        .nav-item {
          padding: 0;
          margin: 0;
          .nav-link {
            @include display-flex;
            @include align-items(center);
            @include justify-content(center);
            @include flex-direction(column-reverse);
            text-align: center;
            position: relative;
            border-bottom: none;
            .menu-title {
              display: block;
              margin: auto;
            }
            .menu-sub-title{
              margin: auto;
            }
            .badge {
              margin-left: 5px;
              display: none;
            }
            i {
              &.menu-icon {
                display:block;
                margin-right: auto;
                margin-left: auto;
              }
              &.menu-arrow {
                display: inline-block;
                margin-left: 5px;
                position: absolute;
                top: 50%;
                right: 10px;
                @include transform(translateY(-50%));
                &:before {
                  content: "\F140";
                }
              }
            }
            &[aria-expanded="true"]{
              .menu-arrow{
                &:before{
                  content: "\f143";
                }
              }
            }
          }
        }
      }
    }

    .content-wrapper,
    .footer {
      margin-left: $sidebar-width-mini;
      width: calc(100% - #{$sidebar-width-mini});
      @at-root #{selector-append(".rtl", &)} {
        margin-left: 0;
        margin-right: $sidebar-width-mini;
      }
    }
    &:not(.sidebar-icon-only) {
      //Apply these styles only when sidebar-mini is not collapsed to icon-only mode
      .sidebar {
        .nav {
          &:not(.sub-menu) {
            > .nav-item {
              border-bottom: 1px solid rgba($sidebar-dark-menu-color, .2);
              .nav-link {
                height: auto;
                padding: $sidebar-mini-menu-padding;
                i {
                  &.menu-icon {
                    margin-bottom: .5rem;
                  }
                }
              }
            }
          }
          &.sub-menu {
            padding: 0;
            border-top: none;
            .nav-item {
              .nav-link {
                padding: 7px 0 7px 25px;
                margin-left: auto;
                margin-right: auto;
                display: block;
                text-align: left;
                width: 66%;
              }
            }
          }
        }
      }
    }
  }
}

// Sidebar Icon Only
.sidebar-icon-only {
  @media (min-width: 992px) {
    .navbar {
      .navbar-brand-wrapper {
        width: $sidebar-width-icon;
        .brand-logo {
          display: none;
        }
        .brand-logo-mini {
          display: inline-block;
        }
      }
      .navbar-menu-wrapper {
        width: calc(100% - #{$sidebar-width-icon});
      }
    }
    .sidebar {
      width: $sidebar-width-icon;
      .nav {
        overflow: visible;
        .nav-item {
          position: relative;
          padding: 0;
          .nav-link {
            display: block;
            text-align: center;
            padding: 10px 0 10px 0;
            .menu-title,
            .badge,.menu-sub-title {
              display: none;
            }
            .menu-title{
              @include border-radius(0 5px 5px 0px);
            }
            i {
              &.menu-icon {
                margin-right: 0;
                margin-left: 0;
              }
              &.menu-arrow {
                display: none;
              }
            }
            &[aria-expanded]{
              .menu-title{
                @include border-radius(0 5px 0 0px);
              }
            }
          }
          &.nav-profile {
            display: none;
          }
          &.nav-category {
            display: none;
          }
          &.nav-doc {
            margin: 0;
            i {
              display: block;
            }
          }
          .collapse {
            display: none;
          }
          &.hover-open {
              .nav-link {
                .menu-title {
                  @include display-flex;
                  @include align-items(center);
                  background:$icon-only-bg-expand;
                  @at-root #{selector-append(".sidebar-light", &)} {
                      background: $sidebar-light-menu-active-bg;
                  }
                  padding: 0.5rem 1.4rem;
                  left: $sidebar-width-icon;
                  position: absolute;
                  text-align: left;
                  top: 0;
                  width: $icon-only-collapse-width;
                  z-index: 1;
                  height: $nav-link-height;
                  line-height: 1.8;
                  @at-root #{selector-append(".rtl", &)} {
                    left: auto;
                    right: $sidebar-width-icon;
                    text-align: left;
                    display: block;
                    @include border-radius(5px 0 0 0px);
                  }
                  @at-root #{selector-append(".sidebar-light", &)} {
                    color: $white;
                  }
                  &:after {
                    display: none;
                  }
                }
              }
              .collapse,
              .collapsing {
                display: block;
                padding: .5rem 0;
                background: $icon-only-bg-expand;
                @include border-radius(0 0 5px 0);
                @at-root #{selector-append(".sidebar-light", &)} {
                    background: $sidebar-light-bg;
                }
                position: absolute;
                top: $nav-link-height;
                left: $sidebar-width-icon;
                width: $icon-only-collapse-width;
                @at-root #{selector-append(".rtl", &)} {
                    left: auto;
                    right:$sidebar-width-icon;
                    @include border-radius(0 0 0 5px);
                }
                -webkit-box-shadow: 0 1px 15px 1px rgba(113,106,202,.08);
                -moz-box-shadow: 0 1px 15px 1px rgba(113,106,202,.08);
                box-shadow: 0 1px 15px 1px rgba(113,106,202,.08);
              }
            }
        }
        &.sub-menu {
          padding: $sidebar-icon-only-submenu-padding;
          .nav-item {
            .nav-link {
              text-align: left;
              padding-left: 20px;
            }
          }
          @at-root #{selector-append(".rtl", &)} {
            .nav-item {
              margin-right: auto;
              margin-left: 0;
              .nav-link {
                text-align: right;
                &:before{
                  left: 0;
                  right: unset;
                }
              }
            }
          }
        }
      }
      .sidebar-progress{
        display: none;
      }
    }

    .content-wrapper,
    .footer {
      margin-left: $sidebar-width-icon;
      width: calc(100% - #{$sidebar-width-icon});
      transition: margin $action-transition-duration $action-transition-timing-function;
      @at-root #{selector-append(".rtl", &)} {
        margin-left: 0;
        margin-right: $sidebar-width-icon;
      }
    }
  }
}

// Hidden Sidebar
.sidebar-hidden {
  @media (min-width: 992px) {
    .sidebar {
      transition: width $action-transition-duration $action-transition-timing-function;
      -webkit-transition: width $action-transition-duration $action-transition-timing-function;
      -moz-transition: width $action-transition-duration $action-transition-timing-function;
      -ms-transition: width $action-transition-duration $action-transition-timing-function;
      width: 0;
    }

    .content-wrapper,
    .footer {
      margin-left: 0;
      width: 100%;
      @at-root #{selector-append(".rtl", &)} {
        margin-right: 0;
      }
    }
  }
}

// Absolute sidebar with overlay to content
.sidebar-absolute {
  @media (min-width: 992px) {
    &:not(.sidebar-hidden) {
      .sidebar {
        -webkit-box-shadow: -2px 0px 37px 1px rgba($black,0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    -2px 0px 37px 1px rgba($black,0.4);  /* Firefox 3.5 - 3.6 */
        box-shadow:         -2px 0px 37px 1px rgba($black,0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
      }
    }

    .content-wrapper,
    .footer {
      margin-left: 0;
      width: 100%;
      @at-root #{selector-append(".rtl", &)} {
        margin-right: 0;
      }
    }
  }
}

//Horizontal Menu
.horizontal-menu {
  @media (min-width: 992px) {
    .navbar-toggler {
      &[data-toggle="minimize"],
      &[data-toggle="toggleSidebarDisplay"] {
        display: none;
      }
    }

    .content-wrapper,
    .footer {
      margin-left: 0;
      width: 100%;
      @at-root #{selector-append(".rtl", &)} {
        margin-right: 0;
      }
    }

    .content-wrapper {
      padding-top: 6rem;
    }
    .sidebar{
      width: 100%;
      min-height: auto;
      border-top: 1px solid rgba($sidebar-dark-menu-color, .3);
      border-bottom: 1px solid $border-color;
      background: rgba(50,21,117,1);
      background: -moz-linear-gradient(left, rgba(50,21,117,1) 0%, rgba(255,5,124,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(50,21,117,1)), color-stop(100%, rgba(255,5,124,1)));
      background: -webkit-linear-gradient(left, rgba(50,21,117,1) 0%, rgba(255,5,124,1) 100%);
      background: -o-linear-gradient(left, rgba(50,21,117,1) 0%, rgba(255,5,124,1) 100%);
      background: -ms-linear-gradient(left, rgba(50,21,117,1) 0%, rgba(255,5,124,1) 100%);
      background: linear-gradient(to right, rgba(50,21,117,1) 0%, rgba(255,5,124,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#321575', endColorstr='#ff057c', GradientType=1 );
      .nav {
        flex-direction: row;
        margin-bottom: 0;
        margin-top: 0;
        overflow: visible;
        padding: 0;
        .nav-item {
          position: relative;
          padding: $horizontal-menu-item-padding;
          .nav-link {
            height: auto;
            border-bottom: none;
            display: block;
            .menu-icon {
              font-size: $horizontal-menu-icon-font-size;
              line-height: 1;
              margin-left: 0;
              display: block;
              text-align: center;
            }
            .menu-title {
              font-size: $horizontal-menu-font-size;
              line-height: 1;
              display: block;
              font-family: $type1-bold;
            }
          }
          &.hover-open {
            .collapse,
            .collapsing {
              display: block;
              background: color(white);
              position: absolute;
              top: 74px;
              left: auto;
              right: auto;
              padding: 1.5rem 1rem;
              -webkit-box-shadow: 0 1px 15px 1px rgba(113,106,202,0.20);
              -moz-box-shadow: 0 1px 15px 1px rgba(113,106,202,0.20);
              box-shadow: 0 1px 15px 1px rgba(113,106,202,0.20);
              @include border-radius(0px 0px 5px 5px);
              @at-root #{selector-append(".rtl", &)} {
                  left: auto;
                  right: 0;
              }
            }
            &.mega-menu {
              position: static;
              .collapse,
              .collapsing {
                width: auto;
                .mega-menu-section {
                  width: auto;
                  margin-left: 15px;
                  margin-right: 15px;
                  float: left;
                  .mega-menu-title {
                    .nav-link {
                      color: $black;
                      font-size: 1rem;
                      line-height: 1;
                    }
                  }
                  .mega-menu-title,
                  .nav-item {
                    .nav-link {
                      padding-left: 0;
                      padding-right: 0;
                    }
                  }
                }
              }
            }
          }
        }
        &.sub-menu {
          padding: 0;
          .nav-item {
            padding: 0;
            .nav-link {
              color: $horizontal-menu-submenu-color;
              padding: $horizontal-menu-submenu-item-padding;
              border-bottom: 1px solid $border-color;
              &:before {
                display: none;
              }
            }
            &:last-child {
              .nav-link {
                border-bottom: 0;
              }
            }
          }
        }
      }
      >.nav {
        >.nav-item {
          >.nav-link {
            padding: .55rem 1.5rem;
          }
          &:last-child {
            .nav-link {
              border-right: none;
            }
          }
        }
      }
    }
  }
}

//Fixed sidebar
.sidebar-fixed {
  .sidebar {
    @media(min-width: 992px) {
      position: fixed;
    }
    .nav {
      max-height: calc(100vh - #{$navbar-height});
      overflow: auto;
      position: relative;
      &.sub-menu {
        max-height: none;
      }
    }
  }
}

//Boxed layout
.boxed-layout {
  @media (min-width: 992px) {
    .container-scroller {
      background: #d9dbe7;
      padding: 0 (100% - $boxed-container-width) / 2;
    }
    .navbar {
      &.fixed-top {
        margin: auto;
        width: $boxed-container-width;
      }
    }
    &.horizontal-menu {
      .sidebar {
        margin: auto;
        width: $boxed-container-width;
      }
      &.horizontal-menu-top {
        .sidebar {
          width: calc(#{$boxed-container-width} - #{$sidebar-width-lg});
        }
      }
    }
  }
}

//RTL layout
.rtl {
  direction: rtl;
  text-align: right;
  .content-wrapper {
    margin-left: 0;
    margin-right: $sidebar-width-lg;
    @media (max-width: 991px) {
      margin-right: 0;
    }
  }
  .sidebar {
    .nav {
      padding-right: 0;
      .nav-item {
        .nav-link {
          i {
            &.menu-icon {
              margin-right: 0;
              margin-left: .5em;
            }
            &.menu-arrow {
              margin-left: 0;
              margin-right: auto;
            }
          }
          .badge {
            margin-left: 0;
            margin-right: auto;
          }
          .menu-title{
            margin-right: 0;
            margin-left: auto;
          }
          .menu-sub-title{
            margin-right: 0;
            margin-left: auto;
          }
        }
      }
      &.sub-menu {
        .nav-item{
          margin-right: 0;
          margin-left: auto;
          .nav-link{
            &:before{
              left: unset;
              right: 0
            }
          }
        }
      }
    }
    .sidebar-progress{
      p{
        text-align: right;
      }
    }
  }
  .footer {
    margin-left: 0;
    margin-right: $sidebar-width-lg;
    @media (max-width: 991px) {
      margin-right: 0;
    }
  }
  #settings-trigger{
    right: unset;
    left: 30px;
  }
  .navbar{
    .navbar-brand-wrapper {
      border-right: none;
      border-left: $border-width solid $border-color;
      .brand-logo {
        img{
          margin: auto 25px auto auto;
        }
      }
      .brand-logo-mini {
        img{
          margin:auto;
        }
      }
    }
    .navbar-menu-wrapper{
      border-right: none;
      border-left: $border-width solid $border-color;
      .navbar-toggler {
        padding-left: 20px;
        padding-right: 5px;
        border-right: none;
        border-left: $border-width solid $border-color;
      }
      .navbar-toggler-right{
        border-left: none;
        padding-left: 5px;
        padding-right: 20px;
      }
      .navbar-nav{
        padding-right: 0;
        .nav-item{
          border-right: none;
          border-left: $border-width solid $border-color;
          &:last-child{
            border: none;
          }
          &.nav-settings{
            padding-left: 5px;
            padding-right: 20px;
          }
          .nav-profile{
            img{
              margin-right: 0;
              margin-left: 1rem;
            }
            span{
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }


  .settings-panel .tab-content .tab-pane .scroll-wrapper,
  ul.chats,
  .product-chart-wrapper,
  .table-responsive,
  .sidebar-fixed .nav {
    &::-webkit-scrollbar {
        width: .5em;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }
  }
}
