
////////// COLOR SYSTEM //////////

$blue:              #5E50F9;
$indigo:            #6610f2;
$purple:            #6a008a;
$pink:              #E91E63;
$red:               #f96868;
$orange:            #f2a654;
$yellow:            #f6e84e;
$green:             #46c35f;
$teal:              #58d8a3;
$cyan:              #57c7d4;
$black:             #000;
$white:             #ffffff;
$white-smoke:       #f2f7f8;
$violet:            #41478a;
$darkslategray :    #2e383e;
$dodger-blue :      #3498db;


$colors: (
  blue:             $blue,
  indigo:           $indigo,
  purple:           $purple,
  pink:             $pink,
  red:              $red,
  orange:           $orange,
  yellow:           $yellow,
  green:            $green,
  teal:             $teal,
  cyan:             $cyan,
  white:            $white,
  gray:             #434a54,
  gray-light:       #aab2bd,
  gray-lighter:     #e8eff4,
  gray-lightest:    #e6e9ed,
  gray-dark:        #0f1531,
  black:            #000000
);


$theme-colors: (
  primary:         #00bbd9,
  secondary:       #e4eaec,
  success:         #2ecc71,
  info:            #1976d2,
  warning:         #ffb136,
  danger:          #e74a25,
  light:           $white,
  dark:            #3a3f51
);

$theme-gradient-colors: (
  primary:         linear-gradient(to left, rgba(172, 50 ,228, 0.9), rgba(121, 24 ,242, 0.9) 49%, rgba(72, 1 ,255, 0.9)),
  secondary:       linear-gradient(to left, rgba(255, 5 ,124, 0.9), rgba(141, 11 ,147, 0.9) 49%, rgba(50, 21 ,117, 0.9)),
  success:         linear-gradient(to right, rgba(80, 204 ,127, 0.9), rgba(245, 209 ,0, 0.9)),
  info:            linear-gradient(to right, rgba(68, 129 ,235, 0.9), rgba(4, 190 ,254, 0.9)),
  warning:         linear-gradient(to right, rgba(255, 88 ,88, 0.9), rgba(240, 152 ,25, 0.9)),
  danger:          linear-gradient(to right, rgba(240, 147 ,251, 0.9), rgba(245, 87 ,108, 0.9))
);

////////// COLOR SYSTEM //////////



////////// COLOR VARIABLES //////////
$content-bg: #F6F8FA;
$footer-bg: $content-bg;
$footer-color: color(dark);
$border-color: #e6ecf5;

////////// COLOR VARIABLES //////////



////////// SOCIAL COLORS //////////

$social-colors: (
  twitter: #2caae1,
  facebook: #3b579d,
  google: #dc4a38,
  linkedin: #0177b5,
  pinterest: #cc2127,
  youtube: #e52d27,
  github: #333333,
  behance: #1769ff,
  dribbble: #ea4c89,
  reddit: #ff4500
);

////////// SOCIAL COLORS //////////

////////// FONTS//

$type1-regular:    'pt-sans-regular', sans-serif;
$type1-bold:     'pt-sans-bold', sans-serif;

$default-font-size: .875rem; // 14px as base font size

$text-muted: #b7b7b7;
$body-color: $black;

////////// FONT VARIABLES //////////

////////// SIDEBAR ////////
$sidebar-width-lg: 247px;
$sidebar-width-mini: 185px;
$sidebar-width-icon: 70px;


$sidebar-gradient-menu-color: rgba($white, 0.7);
$sidebar-gradient-submenu-color: rgba($white, 0.5);
$sidebar-gradient-submenu-hover-color: $white;
$sidebar-gradient-menu-active-bg: rgba($white, 0.1);
$sidebar-gradient-menu-active-color: $white;
$sidebar-gradient-menu-hover-bg: $sidebar-gradient-menu-active-bg;
$sidebar-gradient-menu-hover-color: $white;


$sidebar-light-bg: $white;
$sidebar-light-menu-color: rgba(121, 24 ,242, 0.9);
$sidebar-light-submenu-color: #888;
$sidebar-light-menu-active-bg: rgba(121, 24 ,242, 0.9);
$sidebar-light-menu-active-color: $white;
$sidebar-light-menu-hover-bg: darken($sidebar-light-menu-active-bg,5%);
$sidebar-light-menu-hover-color: $white;

$sidebar-dark-bg: #18151e;
$sidebar-dark-menu-color: $white;
$sidebar-dark-menu-active-bg: #282037;
$sidebar-dark-menu-active-color: color(white);
$sidebar-dark-menu-hover-bg: #282037;
$sidebar-dark-menu-hover-color: color(white);
$sidebar-dark-submenu-color: $sidebar-dark-menu-color;
$sidebar-dark-submenu-hover-bg: initial;
$sidebar-dark-submenu-hover-color: #ffffff;

$sidebar-menu-font-size: $default-font-size;
$sidebar-menu-padding-y: 15px;
$sidebar-menu-padding-x-left: 25px;
$sidebar-menu-padding-x-right: 25px;
$nav-link-height: 48px;

$sidebar-submenu-padding: 0 0 0 1rem;
$sidebar-submenu-font-size: $default-font-size;
$sidebar-submenu-item-padding: .5rem 0rem;

$sidebar-icon-font-size: 0.9375rem;
$sidebar-arrow-font-size: .625rem;

$sidebar-profile-bg: transparent;
$sidebar-profile-padding: .75rem 1.625rem .75rem 1.188rem;

$sidebar-mini-menu-padding: .8125rem 1rem .8125rem 1rem;

$sidebar-icon-only-menu-padding: .5rem 1.625rem .5rem 1.188rem;
$sidebar-icon-only-submenu-padding: 0 0 0 1.5rem;

$rtl-sidebar-submenu-padding: 0 1.5rem 0 0;
$icon-only-collapse-width: 190px;
$icon-only-bg-expand: $purple;

///////// SIDEBAR ////////

///////// SETTINGS PANEL ////////

$settings-panel-width: 300px;

///////// HORIZONTAL MENU /////////
$horizontal-menu-bg : $white;
$horizontal-menu-padding: 0 1rem;
$horizontal-menu-item-color: #202339;
$horizontal-menu-submenu-color: $horizontal-menu-item-color;
$horizontal-menu-font-size: .875rem;
$horizontal-menu-item-padding: .75rem 0;
$horizontal-menu-icon-font-size: .9375rem;
$horizontal-menu-submenu-item-padding: .85rem 0;
///////// HORIZONTAL MENU /////////

///////// NAVBAR ////////

$navbar-height: 59px;
$navbar-light-color: #202339;
$navbar-font-size: .9375rem;
$navbar-icon-font-size: 1.25rem;

///////// NAVBAR ////////



///////// BUTTONS ////////

$button-fixed-width:        120px;
$input-btn-padding-y:       0.56rem;
$input-btn-padding-x:       1.375rem;
$input-btn-line-height:     1;

$input-btn-padding-y-xs:    .5rem;
$input-btn-padding-x-xs:    .75rem;

$input-btn-padding-y-sm:    0.50rem;
$input-btn-padding-x-sm:    0.81rem;

$input-btn-padding-y-lg:    0.94rem;
$input-btn-padding-x-lg:    1.94rem;

$input-btn-font-size:       .875rem;
$input-btn-font-size-xs:    .625rem;
$input-btn-font-size-sm:    .875rem;
$input-btn-font-size-lg:    .875rem;

$btn-border-radius:         .1875rem;
$btn-border-radius-xs:      .1875rem;
$btn-border-radius-sm:      .1875rem;
$btn-border-radius-lg:      .1875rem;

$social-btn-padding:        18px;
$social-btn-icon-size:      1rem;

///////// BUTTONS ////////



/////////  FORMS /////////

$input-bg:                color(white);
$input-border-radius:     2px;
$input-placeholder-color: #c9c8c8;
$input-font-size: .75rem;

///////// FORMS /////////

////////  DROPDOWNS ///////

$dropdown-border-color: $border-color;
$dropdown-divider-bg:   $border-color;
$dropdown-link-color:   $body-color;
$dropdown-header-color: $body-color;
////////  DROPDOWNS ///////

//////// TABLES ////////

$table-accent-bg: $content-bg;
$table-hover-bg:  $content-bg;
$table-cell-padding: .9375rem;
$table-border-color: $border-color;

$table-inverse-bg: #2a2b32;
$table-inverse-color: color(white);

//////// TABLES ////////



////////// MEASUREMENT AND PROPERTY VARIABLES //////////

$boxed-container-width: 96%;
$border-property: 1px solid $border-color;
$card-spacing-y: 1.875rem;
$card-padding-y: 1.88rem;
$card-padding-x: 1.81rem;
$card-border-radius: .3125rem;
$grid-gutter-width: 30px;
$action-transition-duration: 0.25s;
$action-transition-timing-function: ease;
////////// OTHER VARIABLES //////////



////////// BREAD CRUMBS VARIABLES //////////

// default styles
$breadcrumb-padding-y:              0.56rem;
$breadcrumb-padding-x:              1.13rem;
$breadcrumb-item-padding:           .5rem;
$breadcrumb-margin-bottom:          1rem;
$breadcrumb-font-size:              $default-font-size;
$breadcrumb-bg:                     transparent;
$breadcrumb-border-color:           $border-color;
$breadcrumb-divider-color:          $gray-600;
$breadcrumb-active-color:           $gray-700;
$breadcrumb-divider:                "/";

// custom styles
$breadcrumb-custom-padding-y:       0;
$breadcrumb-custom-padding-x:       0;
$breadcrumb-custom-item-padding-y:  0.56rem;
$breadcrumb-custom-item-padding-x:  10px;
$breadcrumb-custom-item-color:      $black;
$breadcrumb-item-bg:                #dbe3e6;

////////// BREAD CRUMBS VARIABLES //////////



////////// MODALS VARIABLES //////////

$modal-inner-padding:               15px;
$modal-dialog-margin:               10px;
$modal-dialog-margin-y-sm-up:       30px;
$modal-title-line-height:           $line-height-base;
$modal-content-bg:                  $content-bg;
$modal-content-box-shadow-xs:       0 3px 9px rgba($black,.5);
$modal-content-box-shadow-sm-up:    0 5px 15px rgba($black,.5);

$modal-backdrop-bg:                 $black;
$modal-backdrop-opacity:            .5;

$modal-header-border-color:         $border-color;
$modal-content-border-color:        $border-color;
$modal-footer-border-color:         $border-color;

$modal-header-border-width:         $border-width;
$modal-content-border-width:        $border-width;
$modal-footer-border-width:         $border-width;

$modal-header-padding-x:              26px;
$modal-header-padding-y:              25px;

$modal-body-padding-x:                26px;
$modal-body-padding-y:                35px;

$modal-footer-padding-x:              31px;
$modal-footer-padding-y:              15px;

$modal-lg:                          90%;
$modal-md:                          500px;
$modal-sm:                          300px;
$modal-transition:                  transform .4s ease;

////////// MODALS VARIABLES //////////
