<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css') }}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/jquery-bar-rating/dist/themes/css-stars.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css') }}" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='gathering/css/style.css') }}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='gathering/images/favicon.png') }}" />
  </head>
  <body>
    <!-- partial:partials/_settings-panel.html -->
    {% include 'partials/_settings-panel.html' %}
    <!-- partial -->
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      {% with user=user %}
      {% include 'partials/_navbar.html' %}
      {% endwith %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
          <!-- partial:partials/_sidebar.html -->
          {% include 'partials/_sidebar.html' %}
          <!-- partial -->
          <div class="content-wrapper">
            <!-- partial:partials/_flash.html -->
            {% include 'partials/_flash.html' %}
            <!-- partial -->
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Edit Slide</h4>
                <form id='example-form' class='form-sample' role="form" method="POST" action="{{ url_for('gathering.slides_edit', slide_id = slide.id) }}">
                  {{ form.hidden_tag() }}
                  {{ form.csrf_token }}
                  <div>
                    <h3> Slide Information </h3>
                    <section>
                      <div class="form-group">
                        <label>Date</label>
                        <div id="datepicker-popup" class="input-group date">
                          <input type="text" class="form-control p_input" name="creation_date" id="creation_date" value="{{ slide.creation_date.strftime('%m/%d/%Y') }}">
                          <div class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Technique</label>
                        <input type="text" class="form-control p_input" name="technique" id="technique" value='{{ slide.technique }}'>
                      </div>
                    </section>
                    <h3> Select Images </h3>
                    <section>
                      <div class="form-group">
                        <div class="table-sorter-wrapper">
                          <table id="sample-image-listing" class="table table-hover" style='width:100%'>
                            <thead>
                              <th>Collected Date</th>
                              <th>Zoom</th>
                              <th>Image Name</th>
                              <th>Image</th>
                              <th>Selected</th>
                            </thead>
                            <tbody>
                              {% for image in images %}
                              <tr>
                                <td>{{ image.capture_date.strftime('%m/%d/%Y') }}</td>
                                <td>{{ image.zoom }}</td>
                                <td>{{ image.filename }}</td>
                                <td>
                                  <img src="{{ image.url }}" style="width:80px;height:80px;">
                                </td>
                                <td>
                                  <div class="form-check form-check-flat">
                                    <label class="form-check-label">
                                        {% if image.slide_id is none %}
                                            <input class="form-check-input" type="checkbox" name='images' value='{{ image.id }}'>
                                            <i class="input-helper"></i>
                                        {% else %}
                                            <input class="form-check-input" type="checkbox" checked='' name='images' value='{{ image.id }}'>
                                            <i class="input-helper"></i>
                                        {% endif %}
                                    </label>
                                  </div>
                                </td>
                              </tr>
                              {%  endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          {% include 'partials/_footer.html' %}
          <!-- partial -->
        </div>
        <!-- row-offcanvas ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery.steps/build/jquery.steps.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="{{ url_for('static', filename='gathering/js/off-canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='gathering/js/misc.js') }}"></script>
    <script src="{{ url_for('static', filename='gathering/js/settings.js') }}"></script>
    <script src="{{ url_for('static', filename='gathering/js/hoverable-collapse.js') }}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{{ url_for('static', filename='gathering/js/form-addons.js') }}"></script>
    <script src="{{ url_for('static', filename='gathering/js/wizard.js') }}"></script>
    <script src="{{ url_for('static', filename='gathering/js/data-table.js') }}"></script>
    <script src="{{ url_for('static', filename='gathering/js/formpickers.js') }}"></script>
    <!-- End custom js for this page-->
  </body>

</html>
