<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css') }}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/jquery-bar-rating/dist/themes/css-stars.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/lightgallery/dist/css/lightgallery.min.css') }}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='gathering/css/style.css') }}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='gathering/images/favicon.png') }}" />
  </head>
  <body>
    <!-- partial:partials/_settings-panel.html -->
    {% include 'partials/_settings-panel.html' %}
    <!-- partial -->
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      {% with user=user %}
      {% include 'partials/_navbar.html' %}
      {% endwith %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
          <!-- partial:partials/_sidebar.html -->
          {% include 'partials/_sidebar.html' %}
          <!-- partial -->
          <div class="content-wrapper">
            <!-- partial:partials/_flash.html -->
            {% include 'partials/_flash.html' %}
            <!-- partial -->
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Gallery of Images</h4>
                <div id='lightgallery' class='row lightGallery'>
                  {% for image in slide.images %}
                  <a class='image-tile col-xl-3 col-lg-3 col-md-3 col-md-4 col-6' href='{{ image.url }}'>
                    <img src='{{ image.url }}' />
                  </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          {% include 'partials/_footer.html' %}
          <!-- partial -->
        </div>
        <!-- row-offcanvas ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js') }}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/lightgallery/dist/js/lightgallery-all.min.js') }}"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{{ url_for('static', filename='gathering/js/off-canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='gathering/js/misc.js') }}"></script>
    <script src="{{ url_for('static', filename='gathering/js/settings.js') }}"></script>
    <script src="{{ url_for('static', filename='gathering/js/dashboard.js') }}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{{ url_for('static', filename='gathering/js/light-gallery.js') }}"></script>
    <!-- End custom js for this page-->
  </body>

</html>
