<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css') }}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/jquery-bar-rating/dist/themes/css-stars.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css') }}" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='gathering/css/style.css') }}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='gathering/images/favicon.png') }}" />
  </head>
  <body>
    <!-- partial:partials/_settings-panel.html -->
    {% include 'partials/_settings-panel.html' %}
    <!-- partial -->
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      {% with user=user %}
      {% include 'partials/_navbar.html' %}
      {% endwith %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
          <!-- partial:partials/_sidebar.html -->
          {% include 'partials/_sidebar.html' %}
          <!-- partial -->
          <div class="content-wrapper">
            <!-- partial:partials/_flash.html -->
            {% include 'partials/_flash.html' %}
            <!-- partial -->
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">List of Samples</h4>
                <div class="table-sorter-wrapper">
                  <table id="order-listing" class="table table-hover" style="width:100%">
                    <thead>
                      <th>Collected Date</th>
                      <th>Identification</th>
                      <th>Country</th>
                      <th>City</th>
                      <th>District</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </thead>
                    <tbody>
                      {% for sample in samples %}
                      <tr>
                        <td>{{ sample.collected_date.strftime('%d/%m/%Y')  }}</td>
                        <td>{{ sample.identification }}</td>
                        <td>{{ sample.country }}</td>
                        <td>{{ sample.city }}</td>
                        <td>{{ sample.district }}</td>
                        <td>
                          <form method="GET" action="{{url_for('gathering.samples_edit', sample_id=sample.id)}}">
                            {{ form.hidden_tag() }}
                            {{ form.csrf_token }}
                            <button type='submit' class="btn btn-outline-primary">Edit</button>
                          </form>
                        </td>
                        <td>
                          <form method="POST" action="{{url_for('gathering.samples_destroy', sample_id=sample.id)}}">
                            {{ form.hidden_tag() }}
                            {{ form.csrf_token }}
                            <button type='submit' class="btn btn-outline-danger">Delete</button>
                          </form>
                        </td>
                      </tr>
                      {%  endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          {% include 'partials/_footer.html' %}
          <!-- partial -->
        </div>
        <!-- row-offcanvas ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js') }}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.min.js') }}"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{{ url_for('static', filename='gathering/js/off-canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='gathering/js/misc.js') }}"></script>
    <script src="{{ url_for('static', filename='gathering/js/hoverable-collapse.js') }}"></script>
    <script src="{{ url_for('static', filename='gathering/js/settings.js') }}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{{ url_for('static', filename='gathering/js/data-table.js') }}"></script>
    <!-- End custom js for this page-->
  </body>

</html>
