<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Author Meta -->
	<meta name="author" content="Colorlib">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Parasite Watch</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500,600" rel="stylesheet">
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="{{ url_for('static', filename='index/css/linearicons.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='index/css/owl.carousel.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='index/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='index/css/nice-select.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='index/css/magnific-popup.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='index/css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='index/css/main.css') }}">
	</head>
	<body>
		<div class="main-wrapper-first">
			<div class="hero-area relative">
				<header>
					<div class="container">
						<div class="header-wrap">
							<div class="header-top d-flex justify-content-between align-items-center">
								<div class="logo">
									<!--<a href="{{ url_for('index_page') }}"><img src="{{ url_for('static', filename='index/img/logo3.png') }}" alt=""></a>-->
								</div>
								<div class="main-menubar d-flex align-items-center">
									<nav class="hide">
										<a href="{{ url_for('index_page') }}">Home</a>
										<a href="{{ url_for('auth.signin') }}">Sign In</a>
                                        <a href="{{ url_for('auth.signup') }}">Sign Up</a>
										<a href="lens-ese.cos.ufrj.br/ese/">About Us</a>
									</nav>
									<div class="menu-bar"><span class="lnr lnr-menu"></span></div>
								</div>
							</div>
						</div>
					</div>
				</header>
				<div class="banner-area">
					<div class="overlay overlay-bg"></div>
					<div class="container">
						<div class="row height align-items-center justify-content-center">
							<div class="col-lg-7">
								<div class="banner-content text-center">
									<h1>Parasite Watch</h1>
									<a href="{{ url_for('gathering.dashboard') }}" class="primary-btn d-inline-flex align-items-center"><span class="mr-10">Get Started</span><span class="lnr lnr-arrow-right"></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main-wrapper">
			<!-- Start Feature Area -->
			<section class="featured-area pt-100 pb-100">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-md-6">
							<div class="feature-left">
								<h2>
									Reasons To <br>
									<span>Choose</span> Notebook
								</h2>
								<p>
									Here, I focus on a range of items and features that we use in life without giving them a second thought. such as Coca Cola. Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
								</p>
								<button class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">Get Started</span><span class="lnr lnr-arrow-right"></span></button>
							</div>
						</div>
						<div class="col-md-6">
							<div class="feature-right active-feature-carousel">
								<div class="single-slider item">
									<img src="{{ url_for('static', filename='index/img/slider.jpg') }}" alt="">
								</div>
								<div class="single-slider item">
									<img src="{{ url_for('static', filename='index/img/slider.jpg') }}" alt="">
								</div>
								<div class="single-slider item">
									<img src="{{ url_for('static', filename='index/img/slider.jpg') }}" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Feature Area -->
			<!-- Start parallux Area -->
			<section class="parallux-area pt-100 pb-100 relative" data-parallax="scroll" data-image-src="{{ url_for('static', filename='index/img/parallux-bg.jpg') }}">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row justify-content-end">
						<div class="col-lg-5 col-md-6 col-sm-12">
							<h2>
								Reasons To <br>
								<span>Choose</span> Notebook
							</h2>
							<p>
								Here, I focus on a range of items and features that we use in life without giving them a second thought. such as Coca Cola. Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
							</p>
							<a href="#" class="primary-btn d-inline-flex align-items-center"><span class="mr-10">Get Started</span><span class="lnr lnr-arrow-right"></span></a>
						</div>
					</div>
				</div>
			</section>
			<!-- End parallux Area -->
			<!-- Start Contact Area -->
			<section class="contact-area pt-100 pb-100 relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row justify-content-center text-center">
						<div class="single-contact col-lg-6 col-md-8">
							<h2 class="text-white">Send Us <span>Message</span></h2>
							<p class="text-white">
								Most people who work in an office environment, buy computer products.
							</p>
						</div>
					</div>
					<form id="myForm" action="mail.php" method="post" class="contact-form">
						<div class="row justify-content-center">
							<div class="col-lg-5">
								<input name="fname" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mt-20" required="" type="text">
							</div>
							<div class="col-lg-5">
								<input name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mt-20" required="" type="email">
							</div>
							<div class="col-lg-10">
								<textarea class="common-textarea mt-20" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
						</div>
						<div class="col-lg-10 d-flex justify-content-end">
							<button class="primary-btn white-bg d-inline-flex align-items-center mt-20"><span class="text-black mr-10">Send Message</span><span class="text-black lnr lnr-arrow-right"></span></button> <br>
						</div>
						<div class="alert-msg"></div>
						</div>
					</form>
				</div>
			</section>
			<!-- End  Contact Area -->
			<!-- Start newsletter Area -->
			<section class="newsletter-area pt-100 pb-100">
				<div class="container">
					<div class="row justify-content-center align-items-center">
						<div class="text-center">
							<h3>Subscribe for our <span>Newsletter</span></h3>
							<div class="subcribe-form" id="mc_embed_signup">
								<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscription relative">
										<input name="EMAIL" placeholder="Your Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email address'" required="" type="email">
										<div style="position: absolute; left: -5000px;">
											<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
										</div>
										<button class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">Get Started</span><span class="lnr lnr-arrow-right"></span></button>
										<div class="info"></div>
								</form>
							</div>
							<p>We won’t send any types of spam, Guranteed</p>
						</div>
					</div>
				</div>
			</section>
			<!-- Start newsletter Area -->
			<!-- Start footer Area -->
			<footer class="footer-area relative">
				<div class="container">
					<div class="footer-content d-flex flex-column align-items-center">
						<div class="footer-menu">
							<a href="#">Home</a>
							<a href="{{ url_for('auth.signin') }}">Sign In</a>
							<a href="{{ url_for('auth.signup') }}">Sign Up</a>
                            <a href="#">About Us</a>

						</div>
						<div class="footer-social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						<div class="copy-right-text">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></div>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
				</div>
			</footer>
			<!-- End footer Area -->
		</div>




		<script src="{{ url_for('static', filename='index/js/vendor/jquery-2.2.4.min.js') }}"></script>
		<script src="{{ url_for('static', filename='index/js/popper.min.js') }}"></script>
		<script src="{{ url_for('static', filename='index/js/vendor/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='index/js/jquery.ajaxchimp.min.js') }}"></script>
		<script src="{{ url_for('static', filename='index/js/owl.carousel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='index/js/jquery.nice-select.min.js') }}"></script>
		<script src="{{ url_for('static', filename='index/js/parallax.min.js') }}"></script>
		<script src="{{ url_for('static', filename='index/js/jquery.magnific-popup.min.js') }}"></script>
		<script src="{{ url_for('static', filename='index/js/main.js') }}"></script>
	</body>
</html>
