<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css') }}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/jquery-bar-rating/dist/themes/css-stars.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/uppy/dist/uppy.min.css') }}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='gathering/css/style.css') }}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='gathering/images/favicon.png') }}" />
  </head>
  <body>
    <!-- partial:partials/_settings-panel.html -->
    {% include 'partials/_settings-panel.html' %}
    <!-- partial -->
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      {% with user=user %}
      {% include 'partials/_navbar.html' %}
      {% endwith %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
          <!-- partial:partials/_sidebar.html -->
          {% include 'partials/_sidebar.html' %}
          <!-- partial -->
          <div class="content-wrapper">
            <!-- partial:partials/_flash.html -->
            {% include 'partials/_flash.html' %}
            <!-- partial -->
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Edit Image</h4>
                <form class='form-sample' id='form-sample' role="form" enctype="multipart/form-data" method="POST" action="{{ url_for('gathering.images_edit', image_id = image.id) }}">
                  {{ form.hidden_tag() }}
                  {{ form.csrf_token }}
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control p_input" name="filename" id="filename" value='{{ image.filename }}'>
                  </div>
                  <div class="form-group">
                    <label>Date</label>
                    <div id="datepicker-popup" class="input-group date">
                      <input type="text" class="form-control p_input" name="cdate" id="cdate" value="{{ image.capture_date.strftime('%m/%d/%Y') }}">
                      <div class="input-group-addon">
                        <span class="mdi mdi-calendar"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Zoom</label>
                    <input type="text" class="form-control p_input" name="zoom" id="zoom" value='{{ image.zoom }}'>
                  </div>
                  <div class="form-group">
                    <label>Image</label>
                    <input type='hidden' class='form-control p_input' name='image_url' id='image_url'>
                    <button class="uppymodalopenerbtn" style="display: none;">Open Uppy Dashboard Modal</button>
                    <div class="dashboardcontainer" id='uppy-dashboard'></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          {% include 'partials/_footer.html' %}
          <!-- partial -->
        </div>
        <!-- row-offcanvas ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/uppy/dist/uppy.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="{{ url_for('static', filename='gathering/js/off-canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='gathering/js/misc.js') }}"></script>
    <script src="{{ url_for('static', filename='gathering/js/settings.js') }}"></script>
    <script src="{{ url_for('static', filename='gathering/js/hoverable-collapse.js') }}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{{ url_for('static', filename='gathering/js/uppy.js') }}"></script>
    <script src="{{ url_for('static', filename='gathering/js/formpickers.js') }}"></script>
    <!-- End custom js for this page-->
  </body>

</html>
