<nav class="bg-white sidebar sidebar-fixed sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item active" data-toggle="showMegaMenu">
      <a href="#" class="nav-link">General</a>
      <div class="mega-menu container-fluid">
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">Dashboard</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html">Dashboard 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/dashboard/dashboard-2.html">Dashboard 2</a>
          </li>
        </ul>
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">Page layouts</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/layout/boxed_layout.html">Boxed Layout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/layout/rtl_layout.html">RTL Layout</a>
          </li>
        </ul>
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">Sidebar layouts</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/layout/sidebar-compact.html">Compact menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/layout/sidebar-collapsed.html">Collapsed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/layout/sidebar-hidden.html">Hidden</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/layout/sidebar-hidden-overlay.html">Hidden overlay</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/layout/horizontal_menu.html">Horizontal menu 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/layout/horizontal_menu_top.html">Horizontal menu 2</a>
          </li>
        </ul>
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">Widgets</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/widgets.html">Widgets</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item" data-toggle="showMegaMenu">
      <a href="#" class="nav-link">Sample Pages</a>
      <div class="mega-menu container-fluid">
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">Authentication</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/login.html">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/register.html">Register</a>
          </li>
        </ul>
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">Error Pages</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/error-404.html">404</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/error-500.html">500</a>
          </li>
        </ul>
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">General</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/blank_page.html">Blank Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/invoice.html">Invoice</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/pricing-table.html">Pricing Table</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item" data-toggle="showMegaMenu">
      <a href="#" class="nav-link">UI Features</a>
      <div class="mega-menu container-fluid">
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">Basic Elements</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/accordions.html">Accordion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/dropdown.html">Dropdown</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/tabs.html">Tabs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/modals.html">Modal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/pagination.html">Pagination</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/progress.html">Progress</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/typography.html">Typography</a>
          </li>
        </ul>
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">Advanced Elements</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/image-cropper.html">Cropper</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/clipboard.html">Clipboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/dragula.html">Dragula</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/listify.html">Listify</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/context-menu.html">Context menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/carousel.html">Carousel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/colcade.html">Colcade</a>
          </li>
        </ul>
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">Popups</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/alerts.html">Alerts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/avgrund.html">Avgrund</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/tour.html">Tour</a>
          </li>
        </ul>
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">Notification</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/notifications.html">Toast</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/desktop-notification.html">Desktop notification</a>
          </li>
        </ul>
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">Slider</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/ion-range-slider.html">Ion range</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/no-ui-slider.html">No-ui-slider</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item" data-toggle="showMegaMenu">
      <a href="#" class="nav-link">Data Reperesentation</a>
      <div class="mega-menu container-fluid">
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">Charts</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/charts/chartJs.html">Chart js</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/charts/flot-chart.html">Flot chart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/charts/c3.html">C3 chart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/charts/morris.html">Morris</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/charts/google-charts.html">Google Chart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/charts/sparkline.html">Sparkline</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/charts/rickshaw.html">Rikshaw</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/charts/justGage.html">Just Gage</a>
          </li>
        </ul>
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">Tables</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/tables/bootstrap-table.html">Bootstrap Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/tables/advanced-table.html">Advanced Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/tables/js-grid.html">JS Grid</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/tables/sortable-table.html">Sortable Table</a>
          </li>
        </ul>
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">Maps</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/maps/mapael.html">Mapeal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/maps/vector-map.html">Vector Map</a>
          </li>
        </ul>
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">Icons</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/icons/fontawsome.html">Font Awsome</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/icons/themify.html">Themify Icons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/icons/simple-line-icon.html">simple Line Icons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/icons/flag-icons.html">Flag Icons</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item" data-toggle="showMegaMenu">
      <a href="#" class="nav-link">Forms</a>
      <div class="mega-menu container-fluid">
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">From Components</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/form-mask.html">Form Mask</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/form-wizard.html">Form Wizard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/form-repeater.html">Form Repeater</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/x-editable.html">X-Editable</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/Typeahead.html">Typeahead</a>
          </li>
        </ul>
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">Validation</span></li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/form-validation.html">Form Validation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/bt-maxlength.html">Bootstrap Maxlength</a>
          </li>
        </ul>
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">Advanced Components</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/form-addons.html">Form Addons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/form-pickers.html">From Picker</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/icheck.html">Icheck</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/bt-select-splitter.html">Bootstrap Splitter</a>
          </li>
        </ul>
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">File Upload</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/dropzone.html">Dropzone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/dropify.html">Dropify</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/jquery-file-upload.html">Jquery File Upload</a>
          </li>
        </ul>
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">Text Editor</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/summernote.html">Summernote</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/tinymce.html">Tinymce Editor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/Quill-editor.html">Quill Editor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/simplemde.html">Simplemde</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/wysihtml.html">Wysihtml Editor</a>
          </li>
        </ul>
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">Code Editor</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/ace.html">Ace Editor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/code-mirror.html">Code Mirror</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item" data-toggle="showMegaMenu">
      <a href="#" class="nav-link">Others</a>
      <div class="mega-menu container-fluid">
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">Applications</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/email/index.html">Email</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/apps/gallery.html">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/apps/calendar.html">Calendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/apps/todo-list.html">Todo list</a>
          </li>
        </ul>
        <ul class="list-group">
          <li class="nav-item nav-category">
            <span class="nav-link">Documentation</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/documentation.html">Documentation</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>