<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('gathering.dashboard') }}">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#samples" aria-expanded="false" aria-controls="samples">
        <span class="menu-title">Samples</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-file-tree menu-icon"></i>
      </a>
      <div class="collapse" id="samples">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{{ url_for('gathering.samples') }}">All Samples</a></li>
          <li class="nav-item"> <a class="nav-link" href="{{ url_for('gathering.samples_new') }}">New Sample</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#slides" aria-expanded="false" aria-controls="slides">
        <span class="menu-title">Slides</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-microscope menu-icon"></i>
      </a>
      <div class="collapse" id="slides">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{{ url_for('gathering.slides') }}">All Slides</a></li>
          <li class="nav-item"> <a class="nav-link" href="{{ url_for('gathering.slides_new') }}">New Slide</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#images" aria-expanded="false" aria-controls="images">
        <span class="menu-title">Images</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-folder-image menu-icon"></i>
      </a>
      <div class="collapse" id="images">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{{ url_for('gathering.images') }}">All Images</a></li>
          <li class="nav-item"> <a class="nav-link" href="{{ url_for('gathering.images_new') }}">New Image</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>